name: Debug OIDC Claims
on:
  push:
    branches:
    - main
jobs:
  build:
    # Allow the job to fetch a GitHub ID token
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          create_credentials_file: true
          workload_identity_provider: 'projects/793834297925/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
          service_account: 'github-actions@project-a7b5d84c-a964-4b71-9fc.iam.gserviceaccount.com'
      - id: 'deploy'
        run: |
          gcloud run deploy apicall \
          --regions=europe-west1 \
          --project=project-a7b5d84c-a964-4b71-9fc  \
          --base-image python312 \
          --source . \
          --allow-unauthenticated
